.sidebar {
  position: fixed;
  top: 0;
  right: -280px;
  width: 280px;
  height: 100%;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar.open {
  right: 0;
}

.sidebar-light {
  background-color: #f8f9fa;
  color: #000;
}

.sidebar-dark {
  background-color: #212529;
  color: #fff;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1040;
}

.sidebar-dark .nav-link {
  color: #fff !important;  
}

.sidebar-dark .nav-link:hover {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border: 1px solid #fff;
}

.sidebar-light .nav-link {
  color: #000 !important;
}

.sidebar-light .nav-link:hover {
  background-color: rgba(0,0,0,0.5);
  color: #000;
  border: 2px solid #fff;
}

.custom-btn {
  padding: 0.6rem 1.3rem;
  font-size: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.custom-btn-light {
  background-color: #0d6efd;
  color: #fff;
  border: none;
}

.custom-btn-light:hover {
  background-color: #0b5ed7;
}

.custom-btn-dark {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.custom-btn-dark:hover {
  background-color: #fff;
  color: #000;
}
